*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}
/*Holas*/
body {
    background-color: white;
    padding: 0 15px 50px 15px;

}



.pr_titulos_pg_principal h1{
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    text-align: center;
    width: 64%;
    font-size: 50px;
    font-weight: 700;
    margin-top: 30px;
    color: black;
}
.btn{
    font-family: "Inter", sans-serif;
    font-weight: 800;
}
h3{
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #52525B;
    font-size: 30px;
    font-weight: 300;
    width: 56%;
}
.pr_titulos_pg_principal {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.pr_caja_de_formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-inputs-selects, .conteiner-inputs-selects-filtro {
    margin-top: 5%;
    display: flex;
    border: 1px solid #D4D4D8;
    padding: 20px;
    border-radius: 100px;
    margin-bottom: 5%;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: space-between;
    align-items: center;

}
.FormPost {
    border-radius: 25px;
    width: 80%;
    padding: 20px;   
    border: 1px solid #D4D4D8;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
.divscontainer {
    display: flex;
   
    height: 400px;
}
.divscontainer div {
    
    height: 400px;
    flex: 1; /* Asegura que ambos divs tengan el mismo ancho */
    padding: 10px;
    box-sizing: border-box;
}
.divscontainer-edit {
    display: inline-flex;
}
.divscontainer-edit input {
    display: block;
}
.FormPost p {
    text-align: center;
    margin-top: 1%;
    font-family: "Inter", sans-serif;
}
.FormPost button {
    margin-top: 6%;
    width: 100%;
    background: #27272A;
    padding: 10px;
    border: none;
}
.conteiner-todosPost {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.post-container {
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}
.post-container p {
    font-size: smaller;
    margin: 1px 0;
    padding: 5px;
}
.post-container button {
    width: 100%;
}
.FormParaFiltro {
    background-color: aqua;
    margin-left: 5%;
    width: 90%;
    height: 3%;
}
.FormParaFiltro p {
    text-align: center;
}
.conteiner-inputs-selects-filtro {
    margin-top: 3%;
    margin-bottom: 3%;
}
.divscontainer h1{
    font-size: 22px;
    font-family: "Plus Jakarta Sans", sans-serif;

}
/* Estilo específico para los inputs en los contenedores */
.divscontainer input {
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
/* Estilos para la tabla */
.tablereport {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    border: solid;
    border-collapse: collapse; /* Asegura que los bordes colapsen, eliminando el espacio entre celdas */
    width: 96%; /* Asegura que la tabla ocupe un ancho considerable de su contenedor */
}

.tablereport th, .tablereport td {
    border: solid; /* Aplica bordes a las celdas */
    padding: 10px; /* Añadir padding para mejorar la legibilidad */
    text-align: center; /* Centrar el texto en las celdas */
    vertical-align: middle; /* Alinea el contenido verticalmente al centro */
    margin: 0; /* Elimina cualquier margen alrededor de las celdas */
}

input, optgroup, select, textarea{
    padding: 13px;
    border-radius: 100px;
    word-wrap: normal;
    background: #D9D9D9;
    border: none;
    font-family: "Inter", sans-serif;
    width: 19%;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}
.conteiner-inputs-selects-filtro {
width: 100%;
}
.conteiner-inputs-selects-filtro select{
    width: 10%;
}

.conteiner-todosPost form{
    display: flex;
    width: 30%;
    border-radius: 10px;
    border: 1px solid #D4D4D8;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: space-between;

}